* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#propack {
    display: none;
}

#propack a {
    display: block;
}

.textwrap {
    display: block;
    /*background-color: #0f028d;*/
}

.primiuntext {
    display: block;
    font-family: fantasy;
    color: blue;
    text-align: center;
}

.mainmenu {
    width: 85%;
    margin: 10px auto;
    background-color: #915f0a;

}

.mainmenu ul {
    list-style: none;
}

.lista > li {
    position: relative;
    display: inline-block;
    font-size: 30px;
}

.lista > li > a {
    display: block;
    padding: 15px 20px;
    color: #fff;

}

.lista li a:hover {
    color: #1c44a0;
    transition: all .3s;
}

.submenu {
    position: absolute;
    background: #333333;
    width: 130%;
    visibility: hidden;
    opacity: 0;
    transition: opacity .7s;

}

.submenu li a {
    display: block;
    padding: 15px;
    color: #fff;
    font-family: serif;
    text-decoration: none;
}

.mainmenu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.sidenav {
    visibility: hidden;
    height: 100%; 
    width: 160px;
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden;
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}